body {
    margin: 0;
    font-family: $font-family-sans-serif;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
}

.view-title {
    border-bottom: 3px solid #000;
}

.table {
    min-height: calc(100vh - 120px);
}

div.page-header {
    p {
        font-size: 1.5rem;
        color: white;
        margin-top: 0;
    }

    .btn-outline-primary {
        border-color: #fff;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

