

body{
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;

}


.gradient{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, 
    rgba(2,0,36,1) 0%, 
    rgba(136,108,158,1) 35%, 
    rgba(0,212,255,1) 100%); 

}

.page-header{
    margin-top: 4rem;
    font-size: 1.95rem;
    color: white;

}

.lang-menu{
    margin-top: -40px;
    position: relative;
}
.selected-lang{
    cursor: pointer;
}

.selected-lang::before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px ;
    vertical-align: middle;
}

.lang-menu ul{
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2) ;
    border-radius: 3px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.lang-menu ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.lang-menu ul li a{
    width: 125px;
    display: block;
    padding: 5px 10px;

}

.lang-menu ul li a:hover{
    background-color: #f2f2f2;
}

.lang-menu:hover ul{
    display: block;
}
.about-index{
    background-color: #cde4f7;
    opacity: 0.7;
    color: black;
    margin-right: 25px;
}



/* Contacts */
.contact{
    background-color:rgb(48, 28, 66);
}


.itd_circle {
    margin: 0 auto 15px;
    width: 60px;
    height: 60px;
    border: 3px solid rgb(78, 48, 92);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(125, 100, 138);
}
.line{
    width: 100px;
    height: 3px;
    background-color: rgb(108, 138, 138);
    margin: 15px auto 30px;

}


.img1{
    height: 760px;
    width: 520px;
    border-style: outset;
    border-radius: 5px;

}

.img2{
    height: 480px;
    width: 860px;
    border-style: outset;
    border-radius: 5px;

}

.button1{
   align-content: center;
   background-color: rgba(136,108,158,1);
   

}

.img-logo{
    height: 110px;
    width: 310px;
    border-radius: 19px;
}

/* Login page */

.form-login{
    
    align-content: center;
    margin: 50px 0px; padding:0px;
    text-align:center;
}

.form-login body{
    background-color: aliceblue;
}

img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 0px;

}

.btn1{
    border: none;
    outline: none;
    height: 60px;
    width: 100%;
    background-color: rgb(52, 30, 59);
    color: white;
    font-weight: bold;

}

.btn1:hover{
    background: white;
    border: 1px solid;
    color: black;
}

.login-form{
    background-color: white;
    border-radius: 10px;
    box-shadow: 12px 12px 12px;
}

/* Footer */

/* Books */

.category{
    font-size: 20px;
    margin-top: 100px;
}

.btt1{
    border: none;
    outline: none;
    height: 40px;
    width: 40%;
    background-color: rgb(52, 30, 59);
    color: white;
    font-weight: bold;
}
.btt1:hover{
    background: white;
    border: 1px solid;
    color: black;
}

.book-card{
    margin-top: 43px;
    width: 18rem;
    align-content: center;
    text-align: center;
    align-items: center;
}

.card-img-top{
    width: 180px;
    height: 230px;
    align-items: center;
    align-content: center;
    border-radius: 0px;
}
.icon1{
    
    fill: #2c172e;
    display:flex;
    align-items:center;
    align-content: center;
  
}

.button-blog{
    color: #e3dce4;
    background-color: rgb(77, 43, 80);
    border-radius: 7px;
    border-color: rgb(77, 43, 80);
    font-size: 20px;
}

.button-blog:hover{
    background-color: rgb(246, 237, 248);
    border-color: rgb(77, 43, 80);
}

.accordion-button{
    color: rgb(8, 6, 3);
    font-size: 20px;
    
}
.accordion-button:hover{
    background-color: rgb(77, 43, 80);
    color: white;
}

.accordion-button:not(.collapsed) {
    color: rgb(246, 237, 248);
    background-color: rgb(77, 43, 80);
    font-size: 20px;
}





/* Search */



.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
    
}

.search input {
    height: 50px;
    width: 100%;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid rgb(139, 139, 167)
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 100px;
    
}

.contact-page{
    padding-top: 150px;
}

.contact-page h2{
    color: #231d27;
    font-size: 50px;
    font-style: bold;
}

/* Book-page */
.img-book-page{
    border-radius: 0px;
    align-content: center;
    text-align: center;
    align-items: center;
    width: 520px;
    height: 720px;
}
.book-page{
    padding-top: 150px;
}



.img-book{
    align-content: center;
    text-align: center;
    align-items: center;
}

.book-info{
    padding-right: 100px;
}

.favorite{
    transition: .6s;
    text-shadow: 2px 2px 3px rgba(240, 184, 184, 0.7);
    color: #1a131f;
    text-decoration: none;
    }
  
  
  .icon {
    display: inline-block;
    position: relative;
    top: 0;
    width: 2em;
    height: 2em;
    margin: 0 .3em 0 0;
    transition: .5s;
    fill: currentColor;
    filter: url(#shadow);
    stroke: rgba(59, 18, 56, 0);
    stroke-width: 5;
    transform: translate(10px) scale(.7);
    fill: #6c2e72;
    }
    A:hover .icon {
      fill: rgba(128, 52, 52, 0);
      stroke: currentColor;
      stroke-width: 5;
      color: rgb(178, 126, 194);
      }
  

.text1 {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 40px;
    align-items: center;
    padding-left: 60px;
    
}

.text1:hover{
    color: rgb(195, 154, 207);
    text-decoration: none;
    text-shadow: 5px 5px 10px rgb(126, 92, 146);
}

.text2{
    padding: 80px;
    margin-left: 120px;
    margin-right: 180px;
    background-color: rgb(173, 170, 214);
}

.text3{
    padding: 80px;
    margin-left: 180px;
    margin-right: 180px;
    
}

thead{
    color: #f3dcf5;
    background-color: #2c172e;
}
tbody{
    background-color: #ede7f0;
}

.details{
    margin-top: 40px;
    text-align: left;
    margin-left: 180px;
    font-style: italic;
    font-size: 35px;
    color: rgb(44, 17, 53);
}

/* About */




.hero-image {
    padding-top: 450px;
    background-image: url("../img/background1.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 75%;
    border-radius: 10px;
    margin-top: 50px;
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:80px;
  }

  /* Blog */
  .blog .image {
    height: 250px;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
}

.blog .image img {
    width: 100%;
    height: auto;
}

.blog .date {
    top: -20px;
    z-index: 99;
    width: 85px;
    right: -10px;
    height: 85px;
    padding: 10px;
    position: absolute;
    color:#FFFFFF;
    font-weight:bold;
    background: #5bc0de;
    border-radius: 999px;
}

.blog .blog-details {
    padding: 0 20px 0 0;
}

.blog {
    padding: 0;
}

.well {
    border: 0;
    padding: 20px;
    min-height: 63px;
    background: #fff;
    box-shadow: none;
    border-radius: 3px;
    position: relative;
    max-height: 100000px;
    border-bottom: 2px solid #ccc;
}

.blog .blog-details h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.blog .date .blog-number {
    color: #fff;
    display: block;
    font-size: 24px;
    text-align: center;
}   

/* News */

.news img{
    margin-left: 5px;
    margin-right: 5px;
    width: 410px;
}

